*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dang-nhap-facebook{
width: 100%;
height: 940px;
/* background-color: aquamarine; */

}
.container{
    height: 100%;
    width: 70%;
    margin: auto;
}
.body{
    height: 63%;
    width: 100%;
    background-color: rgb(221, 218, 218);
    padding-top: 100px;
}

.bodymini{
    height: 70%;
    width: 80%;
    /* background-color: blueviolet; */
    margin: auto;
    display: flex;


}
.body-trai{
    height: 100%;
    width: 60%;
    padding-top: 50px;
    /* background-color: blue; */
}
h1{
    font-size: 50px;
    color: rgb(67, 67, 255);
}
h2{
    font-size: 30px;
}

.body-phai{
    height: 100%;
    width: 40%;
    /* background-color: black; */
}
.body-dangnhap{
    width: 100%;
    /* height: 80%; */
    background-color: white;
    border-radius: 10px;
    padding: 14px 14px;
    
}
input{
    font-size: 193%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom:7px;
}
::placeholder{
    
    font-size: 15px;
    
}
.button-dangnhap{
    width: 390px;
    height: 45px;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    /* padding-left: 10px;
    padding-bottom:7px; */
    background-color: rgb(67, 67, 255);
    color: white
}
.nutdangnhap{  
    font-size: 17px;
}
h5{
    text-align: center;
    margin: 15px 0;
}
hr{
    margin-bottom: 15px;
}
.body-dangnhap-footer{
    height: 20%;
    width: 100%;
    /* background-color: rgb(116, 17, 107); */
    display: flex;
    padding-top: 10px;
    padding-left: 13px;
    text-align: center;
    
}
.btn-creadtk{
    width: 390px;
    height: 45px;
    border-radius: 5px;
    background-color: rgb(3, 187, 3);
    color: white


}


.footer{
    padding-top: 10px;
    height: 37%;
    width: 100%;
    /* background-color: rgb(243, 243, 243); */
    padding-left: 200px;
    padding-right: 200px;
    /* flex-wrap: wrap; */
    word-wrap: break-word;

}
i{
    margin-left: 5px;
    font-size: 25px;
}
